<!DOCTYPE html>
<html class="particle-page">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>kylemattimore.com</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
    
  </head>
  <body class="particle-page">
    
    {{>particles-canvas}}
	  {{{body}}}
		<script src="/js/jquery/jquery-2.1.4.js"></script>
		<script src="/js/particles.js"></script>

	</body>
</html>
