{{!< particles}}

<div class="content-wrapper particle-overlay">
    
  {{>header}}
  
  {{>intro }}
  
  <div>
    {{{page.content.brief}}}
  </div>
  
  <div>
    {{{page.content.extended}}}
  </div>
  
</div>