<div id="outer">
    <div id="canvasContainer">
        <canvas class="particleCanvas" width="1000" height="560" id="mainCanvas" ></canvas>
        <div id="output"> </div>
        
    </div>
</div>
    