
$canvasWidth: 100vw;
$canvasHeight: 100vh;

html.particle-page, body.particle-page {
			  text-align: center;
			  margin:0;
			  padding:0;
			  background-color: $color-background-dark;
			  color: $color-text-light;
			  line-height: 1.25em;
        position: relative;
				
				box-sizing: border-box;
				// min-width: 100vw;
				// min-height: 100vh;
		  }

#outer {
       position: fixed;
       top: 50vh;
       left: 50vw;
       width: 1px;
       height: 1px;
       overflow: visible;
			 z-index: 0;
     }
     
     #canvasContainer {
       position: fixed;
       width: $canvasWidth;
       height: $canvasHeight;
       top:  -( $canvasHeight / 2 );
       left: -( $canvasWidth / 2);
			 z-index: 0;
     }
     
     
.particleCanvas {
	background-color: $color-background-dark;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
	z-index: 0;
  // width: $canvasWidth;
  // height: $canvasHeight;
}