// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$font-family-body: Helvetica, Arial, sans-serif;


$color-text-light: #a3a3a3;
$color-background-dark: rgba(#000000, .7);

$bp-tiny: 480px;
$bp-small: 768px;
$bp-med: 992px;
$bp-lg: 1200px;