/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

div {
  box-sizing: border-box; }

p {
  margin-bottom: 1em; }

em {
  font-style: italic; }

html {
  font-family: Noto Sans, sans-serif; }

h1, h2, h3, h4, h5, h6, .heading {
  font-family: Noto Serif, serif; }

.dark {
  background-color: #000;
  color: #a3a3a3; }
  .dark a {
    color: #a3a3a3; }

#header {
  margin-top: 30px; }

.column {
  display: inline-block; }
  .column--half {
    float: left;
    width: 50%; }
  .column--third {
    float: left;
    width: 33%; }
  .column--quarter {
    float: left;
    width: 25%; }

.two-column {
  column-count: 2;
  margin-top: 1em; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.unstyled-link {
  text-decoration: none;
  color: inherit; }

html.particle-page, body.particle-page {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #a3a3a3;
  line-height: 1.25em;
  position: relative;
  box-sizing: border-box; }

#outer {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 1px;
  height: 1px;
  overflow: visible;
  z-index: 0; }

#canvasContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -50vh;
  left: -50vw;
  z-index: 0; }

.particleCanvas {
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0; }

.intro-image {
  width: 30%;
  height: auto;
  opacity: .9; }

.particle-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: relative;
  z-index: 3;
  width: 70vw;
  margin-left: 15vw; }

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.project {
  width: 300px;
  min-height: 200px;
  background-size: cover;
  opacity: .7; }
  .project:hover {
    opacity: 1; }

.project-title {
  font-size: 16px; }

.project-link {
  font-size: 16px; }

.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000; }

.slide-over {
  z-index: 50;
  position: relative;
  margin-top: 60vh;
  background-color: rgba(0, 0, 0, 0.85);
  margin-bottom: 30vh;
  text-align: center; }
  @media (max-width: 768px) {
    .slide-over {
      margin-top: 50vw; } }
  .slide-over h1, .slide-over h2, .slide-over h3, .slide-over h4, .slide-over h5, .slide-over h6 {
    margin-top: 1em; }
  .slide-over h1, .slide-over h2, .slide-over h3 {
    color: #fff; }
  .slide-over ul {
    list-style: none;
    column-count: 2; }
    @media (max-width: 480px) {
      .slide-over ul {
        column-count: 1; } }
  .slide-over__inner {
    line-height: 1.3;
    margin: 20px;
    width: 70%;
    display: inline-block;
    text-align: left; }
    @media (max-width: 768px) {
      .slide-over__inner {
        width: 95%; } }
  .slide-over__image {
    width: 100%;
    height: auto; }
