#header {
  margin-top: 30px; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

html.particle-page, body.particle-page {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #666666;
  line-height: 1.25em;
  position: relative; }

#outer {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 1px;
  height: 1px;
  overflow: visible; }

#canvasContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -50vh;
  left: -50vw; }

.particleCanvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0; }

.intro-image {
  width: 30%;
  height: auto;
  opacity: .9; }
